<nav class="navbar navbar-inverse navbar-test">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GBL-Auction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a [routerLink]="['/register']">Register Team</a></li>
        <li><a [routerLink]="['/registerPlayer']">Register Player</a></li>
        <li><a href="#">View Teams</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="row content">
  <div class="col-sm-2 sidenav"></div>
  <div class="col-sm-8">
    <div class="panel panel-info text-center">
      <h1>Hi {{currentUser.firstName}}!</h1>
      <p></p>
      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
  </div>
  <div class="col-sm-2 sidenav"></div>
</div>
